.feed {
    padding-top: 1rem;
    background-size: cover;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: fit-content;
    p{
        font-size: 2.2rem;
        font-weight: bolder;
    }
    .fa-solid{
        font-size: 1.5rem;
        margin-left: 1rem;
    }
  }
